{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}

<section class='projects-section center-column'>
c5
    <h2>Projects</h2>

    <div class="projects-list center-column">
        <!-- All the project cards here -->
        {% for project in projects %}

        <div class="project-card center-row">
            <a href='{{ project.repository }}' target="_blank">
                <img src="{{ project.image.url }}" alt="Project Image">
                <p>{{ project.name }}</p>
                <p>{{ project.description }}</p>
                <p>{{ project.year }}</p>

                <div class="skills-list center-row">
                    {% for tech in project.technologies.all %}
                    <label class="label-text">{{ tech.name }}</label>
                    {% endfor %}
                </div>
            </a>
        </div>

        {% endfor %}
        <!-- Add more project cards as needed -->
    </div>

    {% if user.is_authenticated %}
    <div class="add-project-container">
        <a class='btn-primary' href='{% url "projects_new" %}'>
            Add Project
        </a>
    </div>
    {% endif %}

</section>

{% endblock content %}
